#why-choose{
    padding: 30px 0;
    .choose-title {
        margin-bottom: 30px;
        position: relative;
        text-align: center;
        .horizantal {
          width: 50px;
          height: 2px;
          border-radius: 1px;
          margin: 0 auto;
          background-color: #297cbb;
        }
        h3 {
          font-size: 28px;
          line-height: 1.5;
          letter-spacing: 1px;
          color: #3b444f;
        }
    }
}
.choose-wrapper{
    display: flex;
}
.choose-description{
    text-align: center;
    svg{
        width: 5em;
        height: 5em;
        fill: #297cbb;
        color: #297cbb;
        border-color: #297cbb;
        margin: 5px;
    }
}