@import '../../css-config/mixins.scss';
.hero-filter {
  height: 100vh;
  background: url('../../Media/bg.jpeg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &:after {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #18181a;
    opacity: 0.5;
    content: '';
  }
  @include xs{
    background-position:bottom center;
  }
}
