@import '../../../css-config/mixins.scss';
.side-bar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 88px;
  right: 0;
  z-index: 98;
  max-height: 0;
  visibility: hidden;
  transition: 0.4s ease-in;
  overflow: hidden;
  transform: translateZ(-20px);
  opacity: 0;
  background-color: #fff;
  &.active-bar {
    max-height: 400px;
    overflow-y: scroll !important;
    visibility: visible;
    transform: translateZ(0px);
    opacity: 1;
  }
  padding: 20px 30px;
  @include sm {
    padding: 20px 12px;
  }
  .sidebar-list {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    li {
      width: 100%;
      line-height: 1.5 !important;

      &.side-bar-item {
        border: none !important;
        .side-bar-menu {
          background: transparent;
          opacity: 0;
          max-height: 0;
          transition: 0.4s ease-in-out;
          visibility: hidden;
          overflow: hidden;
          transform: translateZ(-20px);
          padding-left: 10px;
          &.open {
            opacity: 0.8;
            max-height: 400px;
            visibility: visible;
            transform: translateZ(0px);
          }
        }
      }
      h3 {
        @include flex();
        width: 100%;
        justify-content: space-between;
        padding: 10px;
        font-weight: bold;
        margin: 0;
        a {
          font-size: 16px;
          padding: 0;
          width: 60%;
          color: #112542;
        }
        button {
          @include flex();
          justify-content: flex-end;
          background-color: transparent;
          border: none;
          cursor: pointer;
          color: #112542;
          width: 40%;
          svg {
            height: 20px !important;
            width: 20px;
          }
        }
      }
      a {
        color: #112542;
        padding: 10px;
        font-weight: bold;
        display: block;
      }
    }
  }
}

.overlay-sidebar {
  overflow: hidden;
  visibility: hidden;
  content: '';
  position: fixed;
  z-index: 90;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.658);
  width: 100%;
  height: 100vh;
  opacity: 0;
  &.active-bar {
    visibility: visible;
    opacity: 1;
  }
}
