@import '../../../../css-config/mixins.scss';
#search_page_count_and_gridView {
  @include flex();
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 20px;
  .counts {
    h3 {
      font-size: 21px;
      color: #3b444f;
      line-height: 1.5;
      margin: 0;
      span{
        text-transform: capitalize;
        font-weight: bold;
      }
    }
  }
  .gridViews {
    .grid_btn {
      @include flex();
      gap: 10px;
      button {
        color: #67747c;
        background-color: transparent;
        border: none;
        svg {
          height: 25px;
          width: 25px;
        }
        &.active {
          color: #297cbb;
        }
      }
    }
  }
}
