@import '../../css-config/mixins.scss';
.hero_search {
  background: #f9f9f9;
  padding: 30px 0;
  overflow: hidden;
  min-height: 400px;
  .searching_list {
    ul {
      margin: 0 auto;
      max-width: 800px;
      padding: 20px;
      overflow-y: hidden;
      overflow-x: hidden;
      @include md {
        overflow-x: scroll;
      }
      @include flex();
      justify-content: space-between;
      gap: 20px;
      li {
        position: relative;
        button {
          font-weight: bold;
          width: 100%;
          @include flex();
          font-size: 20px;
          color: #297cbb;
          gap: 5px;
          background: transparent;
          border: none;

          span {
            width: 50px;
            height: 50px;
            border-radius: 50%;

            @include flex();
            justify-content: center;
            fill: #297cbb;
            &.active-span {
              color: #fff;
              fill: #fff;
              background-color: #297cbb;
            }
          }
        }
      }
    }
    .all-searching-fields {
      .searching_area {
        position: relative;
        top: 0;
        z-index: 10;
        padding: 16px;
        background-color: #ffff;
        border-radius: 5px;
        display: none;
        transform: translateX(2%);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        &.active-bar {
          display: block;
        }

        .row {
          .searcing-input {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            font-size: 16px;
            @include xs {
              font-size: 14px;
            }
            span {
              color: #67747c;
              text-align: start;
            }
            button {
              @include flex();
              height: 45px;
              padding: 10px 15px;
              width: 100%;
              background: transparent;
              cursor: pointer;
              gap: 15px;
              border: 0;
              border-bottom: 2px solid #eaeaea;
              @include xs {
                padding: 10px;
                gap: 10px;
              }
              &.active-btn {
                fill: #297cbb;
                border-bottom: 2px solid #297cbb;
              }
              p {
                @include flex();
                width: 100%;
                margin: 0;
                justify-content: space-between;
              }
            }
          }
          .searching_btn {
            display: flex;
            align-items: flex-end;
            height: 100%;
            button {
              background-color: #297cbb;
              border-color: #297cbb;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              height: 55px;
              font-weight: 500;
              color: #fff;
              width: 100%;
              text-align: center;
              vertical-align: middle;
              user-select: none;
              border: 1px solid transparent;
              padding: 0.9rem 1rem;
              font-size: 1rem;
              border-radius: 3px;
              line-height: 1.5;
              svg {
                fill: #fff;
              }
            }
          }
        }
      }
    }
  }
}
