@import '../../css-config/mixins.scss';
.page_title {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  position: relative;
  height: 400px;
  @include md {
    height: 300px;
  }
  @include xs {
    padding: 50px 0;
  }
 display: flex;
 align-items: flex-end;
  &:before {
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
  }
  .page_description {
    position: relative;
    h2 {
      font-size: 42px;
      font-weight: 600;
      color: white;
      border-bottom: 2px solid rgba(255, 255, 255, 0.3);
      padding-bottom: 20px;
      @include sm {
        font-size: 30px;
      }
    }
  }
}

