@import '../../../../../css-config/mixins.scss';
.guest_rating_area {
  width: 100%;
  max-height: fit-content;
  transition: all 0.2s ease-in-out;
  border-bottom: 1px solid #ebf0f7;
  button {
    padding: 10px 0;
    border: none;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    font-size: 1.063rem;
    color: #3b444f;
    font-weight: bold;
  }

}
