@import '../../../css-config/mixins.scss';

#contact-now {
    padding: 100px 0;
    background: url('../../../Media/cta-bg.jpg');
    background-position: 100% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    clip-path: polygon(0 0, 100% 12%, 100% 88%, 0 100%);
    z-index: 2;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: -webkit-gradient(linear, right top, left top, from(rgba(111, 88, 232, 0.18)), to(#3763eb));
        background: linear-gradient(to left, rgba(111, 88, 232, 0.18) 0%, #3763eb 100%);
    }

    .for_project_contact {
        .row {
            align-items: center;

            .contact-text {
                color: #fff;

                span {
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 5px;
                }

                h2 {
                    line-height: 1.5;
                    font-weight: 600;
                    font-size: 28px;
                    margin-bottom: 15px;
                }

                p {
                    font-size: 18px;
                }
            }

            .contact-button {
                @include flex();
                justify-content: flex-end;

                @include sm {
                    justify-content: flex-start;
                }

                a {
                    display: inline-block;
                    font-weight: 400;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    padding: 16px 48px;
                    font-size: 18px;
                    border-radius: 50px;
                    color: #fff;
                    cursor: pointer;
                    z-index: 5;
                    -webkit-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                    border: none;
                    background: -webkit-gradient(linear, right top, left top, from(#3763eb), color-stop(50.39%, #6f58e8), to(#3763eb));
                    background: linear-gradient(to left, #3763eb 0%, #6f58e8 50.39%, #3763eb 100%);
                    background-size: 200% auto;
                    overflow: hidden;

                    &:hover {
                        background-position: right center;
                        color: #fff;
                        box-shadow: 0px 0px 30px rgba(#2E57D9, .45);

                    }
                }
            }
        }

    }
}