@import '../../css-config/mixins.scss';
.logo {
  width: 200px;
  height: 80px;
  display: block;
  @include sm {
    width: 120px;
    height: 50px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
