@import '../../css-config/mixins.scss';
.logo {
  @include flex();
  gap: 20px;
  @include sm {
    gap: 10px;
  }
  img {
    width: 50px;
    height: 50px;
    &.logo-noscroll {
      display: block;
    }
    &.logo-scroll {
      display: none;
    }
    @include sm {
      width: 30px;
      height: 30px;
    }
  }
  span {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    @include sm {
      font-size: 20px;
    }
  }
}
