@import '../../css-config/mixins.scss';

#card {
    padding: 40px 0;
}
.card-wrapper {
    display: flex;
    padding: 5px 0px;
    flex-wrap: wrap;
    .card{
        border: 1px solid black;
    }
    .card-left{
        img{
            border-radius: 0.3rem;
        }
    }
    .card-center {
        padding: 0 12px;
        .card-header {
            @include flex();
            p:first-child {
                transition: all 0.2s ease-in-out;
                vertical-align: baseline;
                border-radius: 0.3125rem;
                font-weight: 700;
                line-height: 1.5;
                padding: 0.25em 0.4em;
                color: #fff;
                background-color: #f05700;
                width: max-content;
            }
        }
        .card-title{
            font-size: 17px;
            margin-bottom: 5px;
            font-weight: 500;
            a{
                color: #3b444f;
                text-decoration: none;
                background-color: transparent;
            }
        }
        .card-location{
            @include flex();
        }
    }
    .card-right{
        button {
            border: none;
            color: #fff;
            background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
            border-radius: 20px;
            background-size: 100% auto;
            font-family: inherit;
            font-size: 17px;
            padding: 0.3em 1em;
           }           
    }
}