@import '../../../css-config/mixins.scss';
.side_bar {
  display: none;
  row-gap: 10px;
  @include md {
    display: block;
  }
  .side_bar_search_toggle {
    @include flex();
    gap: 10px;
    color: #297cbb;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 20px;
    svg {
      transition: 0.3s ease-in;
      transform: rotate(-90deg);
      &.active_icon {
        transform: rotate(0);
        transition: 0.3s ease-out;
      }
    }
  }
  .side_bar_destinations {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in;
    overflow: hidden;
    max-height: 0;
    display: flex;
    align-items: center;
    row-gap: 20px;
    flex-wrap: wrap;
    &.active_sidebar_destination {
      opacity: 1;
      margin-top: 20px;
      visibility: visible;
      overflow: visible;
      max-height: 1000px;
      transition: 0.3s ease-out;
    }
  }
}
