@import '../../css-config/mixins.scss';
.breadCrumbs {
  padding: 25px 0px 50px;
  @include sm{
    padding: 20px 0;
  }
  .crumb {
    @include flex();
    #return-back {
      @include flex();
      gap: 3px;
      font-size: 1rem;
      border-right: 1px solid rgba(255, 255, 255, 0.3);
      color: #ffffff7a;
      transition: all 0.3s ease;
      white-space: nowrap;
      padding-right: 20px;
      &:hover{
        color: #ffffffbd;
      }
    }
    h3 {
      @include flex();
      gap: 10px;
      padding: 10px;
      color: #fff;
      margin: 0;
      a {
        font-size: 16px;
        color: #fff;
        transition: 0.4s;
        padding: 0;
        position: relative;
        &:before {
          width: 0;
          height: 2px;
          background-color: #fff;
          transition: 0.4s ease-in-out;
          content: '';
          position: absolute;
          top: 25px;
        }
        &:hover {
          &::before {
            width: 100%;
          }
        }
      }
      span {
        font-size: 16px;
        color: #fff;
        text-transform: capitalize;
      }
    }
  }
}
