@import '../../css-config/mixins.scss';
#footer {
  background: #f2f6f7;
  .footer_head {
    padding: 40px 0;
    @include md{
      padding: 20px 0;
    }
    .row {
      @include md {
        justify-content: center;
      }
      .footer_head_content {
        p {
          hyphens: auto;
          font-size: 16px;
          color: #071c1f;
          line-height: 1.5;
        }
        .footer_head_list {
          padding: 0;
          row-gap: 10px;
          display: flex;
          flex-direction: column;
          li {
            @include flex();
            gap: 10px;
            svg {
              width: 20px;
              height: 20px;
              fill: #071c1f;
            }
            span {
              font-size: 16px;
              color: #071c1f;
              line-height: 1.5;
              display: inline-block;
            }
            a {
              display: inline-block;
              font-size: 16px;
              color: #071c1f;
              font-weight: normal;
              transition: 0.3s ease-in-out;
              &:hover {
                color: #e53e29;
                padding-left: 5px;
              }
            }
          }
        }
        .footer-social {
          margin: 0;
          @include flex();
          gap: 30px;
          padding: 0;
          li {
            a {
              color: #071c1f;
              font-size: 16px;
              transition: 0.3s ease-in-out;
              &:hover {
                color: #e53e29;
              }
            }
          }
        }
        h3 {
          font-size: 22px;
          color: #071c1f;
          font-weight: bold;
          height: 80px;
          @include flex();
          margin: 0;
          @include sm {
            height: 50px;
          }
        }
        .footer_head_links {
          padding: 0;
          margin: 0;
          li {
            position: relative;
            margin-bottom: 20px;
            @include md{
              margin-bottom: 10px;
            }
            &:hover {
              a {
                color: #e53e29;
                padding-left: 20px;
                &:before {
                  visibility: visible;
                  opacity: 1;
                  opacity: 1;
                  visibility: visible;
                  margin-left: 0;
                }
              }
            }
            a {
              font-size: 16px;
              color: #071c1f;
              line-height: 1.5;
              display: block;
              transition: 0.2s ease-in-out;
              text-transform: capitalize;
              &:before {
                position: absolute;
                content: '//';
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.2s ease-in-out;
                opacity: 0;
                visibility: hidden;
                margin-left: -20px;
                color: #e53e29;
              }
            }
          }
        }
        .subscribe_area {
          position: relative;
          width: 100%;
          height: 60px;
          margin-bottom: 20px;
          @include flex();
          form {
            width: 100%;
            input {
              width: 100%;
              height: 45px;
              border: 1px solid #ddd;
              padding: 10px;
              &:focus {
                outline-color: #e53e29;
              }
            }
            button {
              position: absolute;
              right: 15px;
              border: none;
              top: 18px;
              color: #071c1f;
              background-color: transparent;
              svg {
                width: 20px;
                height: 20px;
                fill: #e53e29;
              }
            }
          }
        }
        .payment_area {
          h5 {
            text-transform: capitalize;
            font-size: 20px;
            font-weight: bold;
            color: #071c1f;
            margin-bottom: 20px;
          }
          span {
            display: inline-block;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
  .footer_bottom {
    padding: 20px 0;
    @include flex();
    background-color: #071c1f;
    .footer_bottom_content {
      p {
        color: #fff;
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
      }
      .footer_bottom_list {
        @include flex();
        justify-content: flex-end;
        flex-wrap: wrap;
        row-gap: 20px;
        @include sm {
          justify-content: flex-start;
        }
        gap: 20px;
        padding: 0;
        margin: 0;
        li {
          a {
            color: #fff;
            font-size: 16px;
          }
        }
      }
    }
  }
}
