@import '../../css-config/mixins.scss';

#hotels_one {
  padding: 30px 0;
  .row {
    .photo-gallery {
      .image-gallery-slide {
        img {
          width: 100%;
          object-fit: fill;
          max-height: 500px;
        }
      }
      .image-gallery-icon {
        width: 40px;
        height: 40px;
        padding: 0;
        border-radius: 50%;
        background-color: #fff;
        color: #fff;
        @include flex();
        justify-content: center;
      }
      .image-gallery-svg {
        width: 20px;
        height: 20px;
        color: #279;
      }
      .image-gallery-right-nav {
        right: 20px;
      }
      .image-gallery-left-nav {
        left: 20px;
      }
      .image-gallery-thumbnails-container{
        text-align: start;
      }
      .image-gallery-thumbnail {
        border: 2px solid transparent;
        border-radius: 5px;
        &.active,
        &:focus {
          border: 2px solid #279;
        border-radius: 5px;

        }
      }
      .image-gallery-thumbnail-image {
        height: 110px;
        object-fit: cover;
        max-width: 100%;
        border-radius: 3px;
      }
    }
    .hotel-desecription {
      margin-top: 20px;
      p {
        font-size: 14px;
        line-height: 1.5;
        color: #000;
        opacity: 0.8;
        position: relative;
        &.text_opacity {
          position: relative;
          &:after {
            position: absolute;
            background-image: linear-gradient(
              180deg,
              transparent 20%,
              #fff 99%
            );
            background-repeat: repeat-x;
            z-index: 1;
            bottom: 20px;
            height: 80px;
            left: 0;
            width: 100%;
            content: '';
          }
        }
        span {
          &.short-text {
            overflow: hidden;
            max-height: 0;
            display: inline-block;
            opacity: 0;
            transition: max-height 0.5s, opacity 0.5s;
          }
          &.long {
            background: none;
            opacity: 1;
            max-height: 1000px;
            transition: max-height 0.5s, opacity 0.5s;
          }
        }
      }
      .view-btn {
        margin-top: 10px;
        transition: 0.4s;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: #279;
        color: #fff;
        border: none;
        cursor: pointer;
      }
    }
  }
}
