@import './css-config/mixins.scss';
@import './Inter/font.css';
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  &.no-scroll {
    overflow: hidden;
  }
}

.row {
  flex-basis: 100%;
  row-gap: 10px;
}
