@import './css-config/mixins.scss';
@import './Inter/font.css';
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.main-section {
  padding-top: 80px;
}
.container-fluid {
  padding: 0 45px !important;
  @include sm {
    padding: 0 20px !important;
  }
  @include xs {
    padding: 0 12px !important;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
  &.no-scroll {
    overflow: hidden;
  }
}

.row {
  flex-basis: 100%;
  row-gap: 10px;
}
