@import '../../css-config/mixins.scss';
.mail_success {
  @include flex();
  padding: 40px 0;
  min-height: 100vh;
  .row {
    align-items: center;
    .mail_text {
      @include md {
        text-align: center;
      }
      h3 {
        color: #333;
        margin-top: 30px;
        margin-bottom: 20px;
        font-weight: 700;
        display: inline-block;
        font-size: 30px;
        display: block;
      }
      p {
        color: #333;
        font-weight: 400;
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 30px;
        padding-right: 50px;
      }
      a {
        font-size: 16px;
        background-color: #297cbb;
        border: #297cbb;
        height: 50px;
        cursor: pointer !important;
        width: 150px;
        color: #fff;
        @include flex();
        justify-content: center;
        padding: 10px;
        border-radius: 0.188rem;
        transition: color 0.3s ease-in-out;
        &:hover {
          background-color: #1d508d;
        }
        @include md {
          margin: 0 auto;
        }
      }
    }
    .mail_image {
      height: 400px;
      width: 100%;
      @include xs {
        height: 250px;
      }
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
